.componentPadding {
  padding: 8px;
}

.buttonPadding {
  padding: 4px;
}

.componentHeader {
  display: flex;
  flex-direction: row;

  font-family: var(--font-family);
  height: 40px;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
}

.componentTitle {
  flex: 1 0 auto;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

.componentLine {
  display: flex;
  justify-content: space-between;
}

.narrowWidth {
  width: 200px;
}

.hrTop {
  width: calc(100% + 24px);
  display: block;
  height: 0px;
  border: 0 none;
  border-top: 1px solid var(--card-border-color);
  position: absolute;
  top: 95px;
}

.hrBottom {
  width: calc(100% + 24px);
  display: block;
  height: 0px;
  border: 0 none;
  border-top: 1px solid var(--card-border-color);
  position: absolute;
  bottom: 43px;
}

.hrBottomIsNarrow {
  width: calc(100% + 24px);
  display: block;
  height: 0px;
  border: 0 none;
  border-top: 1px solid var(--card-border-color);
  position: absolute;
  bottom: 55px;
}

.hrRight {
  height: 25px;
  display: block;
  border-right: 1px solid var(--card-border-color);
}

.hrRightIsNarrow {
  display: block;
  border-right: 1px solid var(--card-border-color);
}
