.startInstallationButtonStyleEnabled,
.startInstallationButtonStyleDisabled {
  float: right;
  width: 280px;
  height: 37px;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

.startInstallationButtonStyleEnabled {
  cursor: pointer;
  background-color: #1059d2; // var(--accent); // --accent --primary
  color: white; // var(--accent-color);
}

.startInstallationButtonStyleDisabled {
  cursor: auto;
  background-color: rgba(0, 0, 0, 0.12);
  color: var(--body-color);
}
